@page
@model BMIWebapp.Pages.BMIModel
@{
}


<h1>@Model.Bmi</h1>

<div>
<div>


        <svg fill="#000000" version="1.1" id="Capa_1" width="800px" height="800px" viewBox="0 0 206.326 206.326" xmlns="http://www.w3.org/2000/svg">
            <defs></defs>
            <g transform="matrix(0.731754, 0, 0, 0.731754, 18.181616, 30.337708)" style="">
                <g>
                    @if (Model.Bmi > 18.5 && Model.Bmi < 24.9)
                    {
                        <path d="M 112.444 111.884 C 112.14 115.464 114.57 134.413 115.824 141.843 C 116.421 145.363 118.058 151.098 117.469 154.143 C 116.628 158.387 116.385 163.879 116.848 167.077 C 117.14 169.019 118.059 177.976 116.744 181.252 C 116.056 182.97 114.795 191.774 114.795 191.774 C 111.51 200.068 113.364 199.66 113.364 199.66 C 114.381 200.908 116.123 199.758 116.123 199.758 C 117.45 200.604 118.369 199.557 118.369 199.557 C 119.508 200.5 120.836 199.441 120.836 199.441 C 122.267 200.184 123.594 198.814 123.594 198.814 C 124.416 199.228 124.617 198.705 124.617 198.705 C 127.083 198.547 123.241 190.655 123.241 190.655 C 122.321 183.567 124.154 179.622 124.154 179.622 C 130.158 161.817 130.463 157.092 128.063 150.382 C 127.387 148.445 127.216 147.678 127.527 146.837 C 128.246 144.896 127.722 137.089 128.599 133.989 C 130.291 128.01 131.96 112.847 132.83 105.772 C 133.999 96.242 128.689 83.464 128.689 83.464 C 127.526 78.264 129.231 59.737 129.231 59.737 C 131.612 63.442 131.521 69.982 131.521 69.982 C 131.143 76.841 137.062 87.324 137.062 87.324 C 139.906 91.656 140.983 95.766 140.983 96.071 C 140.983 97.319 140.71 100.34 140.71 100.34 L 140.819 102.971 C 140.868 103.641 141.245 105.948 141.184 107.063 C 140.74 113.925 141.83 112.634 141.83 112.634 C 142.75 112.634 143.761 107.112 143.761 107.112 C 143.761 108.536 143.413 112.799 144.181 114.407 C 145.1 116.325 145.776 114.078 145.788 113.627 C 146.031 104.89 146.556 107.179 146.556 107.179 C 147.067 114.267 147.695 115.868 148.821 115.314 C 149.674 114.907 148.894 106.808 148.894 106.808 C 150.355 111.619 151.463 112.385 151.463 112.385 C 153.874 114.078 152.383 109.402 152.048 108.476 C 150.264 103.556 150.209 101.851 150.209 101.851 C 152.438 106.272 154.118 106.108 154.118 106.108 C 156.292 105.414 152.218 99.154 149.831 96.155 C 148.613 94.627 147.042 92.581 146.586 91.366 C 145.843 89.308 145.282 82.692 145.282 82.692 C 145.057 74.885 143.127 71.494 143.127 71.494 C 139.827 66.212 139.206 56.359 139.206 56.359 L 139.06 39.724 C 137.903 28.377 129.542 28.295 129.542 28.295 C 121.091 27.037 119.915 24.307 119.915 24.307 C 118.125 21.731 119.148 16.793 119.148 16.793 C 120.633 15.585 121.206 12.378 121.206 12.378 C 123.672 10.487 123.551 7.72 122.412 7.75 C 121.498 7.774 121.705 7.017 121.705 7.017 C 123.247 -5.439 112.189 -6.075 112.189 -6.075 L 110.501 -6.075 C 110.501 -6.075 99.438 -5.439 100.978 7.014 C 100.978 7.014 101.185 7.772 100.263 7.747 C 99.127 7.717 99.021 10.484 101.478 12.375 C 101.478 12.375 102.05 15.581 103.536 16.79 C 103.536 16.79 104.559 21.728 102.769 24.304 C 102.769 24.304 101.597 27.034 93.142 28.292 C 93.142 28.292 84.767 28.374 83.628 39.721 L 83.47 56.356 C 83.47 56.356 82.861 66.209 79.548 71.491 C 79.548 71.491 77.627 74.883 77.405 82.689 C 77.405 82.689 76.842 89.305 76.102 91.363 C 75.651 92.572 74.081 94.618 72.853 96.152 C 70.445 99.145 66.398 105.392 68.563 106.105 C 68.563 106.105 70.252 106.269 72.472 101.848 C 72.472 101.848 72.426 103.541 70.645 108.473 C 70.295 109.387 68.806 114.063 71.218 112.382 C 71.218 112.382 72.335 111.615 73.787 106.805 C 73.787 106.805 73.008 114.904 73.875 115.311 C 75.008 115.866 75.626 114.264 76.137 107.176 C 76.137 107.176 76.661 104.887 76.904 113.624 C 76.916 114.075 77.577 116.322 78.5 114.404 C 79.279 112.796 78.929 108.54 78.929 107.109 C 78.929 107.109 79.928 112.631 80.862 112.631 C 80.862 112.631 81.961 113.922 81.51 107.06 C 81.437 105.939 81.83 103.638 81.879 102.968 L 81.985 100.337 C 81.985 100.337 81.711 97.323 81.711 96.068 C 81.711 95.757 82.789 91.653 85.632 87.321 C 85.632 87.321 91.545 76.833 91.164 69.979 C 91.164 69.979 91.082 63.439 93.463 59.734 C 93.463 59.734 95.153 78.26 94.008 83.461 C 94.008 83.461 88.689 96.239 89.862 105.769 C 90.726 112.863 92.392 128.006 94.088 133.986 C 94.974 137.08 94.45 144.885 95.16 146.834 C 95.48 147.681 95.312 148.461 94.624 150.379 C 92.237 157.089 92.541 161.815 98.545 179.619 C 98.545 179.619 100.393 183.564 99.459 190.652 C 99.459 190.652 95.623 198.544 98.08 198.702 C 98.08 198.702 98.272 199.225 99.103 198.811 C 99.103 198.811 100.43 200.181 101.864 199.438 C 101.864 199.438 103.192 200.498 104.327 199.554 C 104.327 199.554 105.237 200.601 106.564 199.755 C 106.564 199.755 108.306 200.93 109.341 199.657 C 109.341 199.657 111.18 200.065 107.906 191.771 C 107.906 191.771 106.652 182.978 105.961 181.249 C 104.643 177.974 105.574 168.998 105.855 167.074 C 106.308 163.858 106.065 158.379 105.237 154.14 C 104.631 151.102 106.272 145.366 106.878 141.84 C 108.123 134.417 110.563 115.467 110.258 111.881 L 111.266 112.235 C 111.988 112.237 112.444 111.884 112.444 111.884 Z" style="transform-box: fill-box; transform-origin: 50% 50%; stroke:green; fill:green;"></path>


                    }
                  </g>
            </g>
        </svg>
    



</div>
<div>
<form method="post">
    <label>Højde i cm</label>
    <input type="number" asp-for="Height" name="Height"/>
    <label>Vægt i kg</label>
    <input type="number" asp-for="Weight" name="Weight" step="0.1" />
    <button type="submit">Beregn</button>
</form>
</div>
</div>